<div class="container-fluid parent">
  <div class="well" *ngIf='slides && slides.length && Questions && Questions.length'>
    <h1>Question {{currentQuestionNumber +1}}</h1>
    <img [src]='Questions[currentQuestionNumber].ImageUrl'>
    <br>
    <md-radio-group class="example-radio-group" [(ngModel)]="currentAnswer">
      <md-radio-button class="example-radio-button" *ngFor="let possibleAnswer of Questions[currentQuestionNumber].Answers" [value]="possibleAnswer">
        {{possibleAnswer}}
      </md-radio-button>
    </md-radio-group>
    <div class="example-selected-value">
      <p>{{currentAnswer}} : הבחירה שלך</p>
      <p> {{correctAnswersCount}} : תשובות נכונות</p>
    </div>
    <button [disabled]="examFinished || !currentAnswer" class='btn btn-primary' (click)='MoveToNextImage()'>
   Next Question</button>
  </div>
  <div class="row" *ngIf='examFinished'>
    <div class="row">
      <alert [type]="typeOfAlert">ענית נכונה על {{(correctAnswersCount/Questions.length) * 100}}% {{alertMessage}}</alert>
    </div>
    <div class="row" *ngIf='didPass'>
      <button type="button" class="btn btn-success" (click)="continue()"> המשך לשלב הבא</button>
    </div>
    <div class="row" *ngIf='!didPass'>
      <button type="button" class="btn btn-danger" (click)="tryAgain()"> נסה שנית </button>
      <button type="button" class="btn btn-warning" (click)="study()"> חזור לשלב הלמידה </button>
    </div>
  </div>
</div>