<div class="row">
  <div class="col-md-8">
  </div>
  <div class="col-md-4">
    <h3>
      ברוכים הבאים למחקר במוזיקה וקוגנציה
    </h3>
  </div>
</div>
<div class="row flip pull-right">
  <h6>
    במחקר זה אנו נבחן האם ניתן להכחיד הופעת שיר "התקוע בראש". תופעת "השיר התקוע" הינה תופעה המעניינת חוקרים בתחום הפסיכולוגיה
    הקוגנטיבית. משמעותה היא הופעה בלתי רצונית של שיר (זמזום שלו) באופן בלתי מודע ולרוב ללא סיבה נראית לעין שגורמת לכך. אנו
    נבקש מכם להשתתף במחקרנו בצורה התנדבותית תוך כדי הסכמה ומעבר לשלב הבא
    <br> המחקר שלנו נעשה כחלק מעבודה סמינריונית לסיום תואר ראשון באוניברסיטה הפתוחה. שימו לב, ההשתתפות מותרת מגיל 18 ומעלה.
    בנוסף, כלל המידע נשמר באופן אנונימי, לכן אל לכם לחשוש מחשיפה.
    <br> המחקר כולל ששה שלבים:
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
        למידה <i class="fa fa-book"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
        מבחן זיכרון <i class="fa fa-graduation-cap"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
        הכחדה <i class="fa fa-times-circle-o"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
        משחק טטריס <i class="fa fa-gamepad"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
        שאלון דיווח עצמי <i class="fa fa-pencil"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
        מבחן זיכרון <i class="fa fa-graduation-cap"></i>
      </div>
    </div>
    <br> כמו כן, בכל אחד משלב המבחן אתם יכולים להפסיק אותו.
    <br> תודה מראש החוקרים: נתנאל שדה, נוי יתאח stuckSongs@gmail.com
  </h6>
</div>
<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-success" (click)="continue()">מאשר השתתפות</button>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-danger" (click)="exit()">לא תודה</button>
  </div>

</div>
