<div class="container-fluid parent" *ngIf='slides && slides.length'>
  <div class="row">
    <div class="col-md-5">

      <div>
      </div>

      <!--<div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Song {{currentImageNumber +1}}/{{slides.length}}</h3>
        </div>
        <div class="panel-body">-->
          <img [src]='currentImage.imageUrl'>
          <h1>{{currentImage.SongTitle}}</h1>
        <!--</div>
      </div>-->

    </div>
  </div>
</div>